<link rel="stylesheet" type="text/css" href="./classes/css/admin.css">
<h1 class='text-center'>{{title}}</h1>
<div class='text-center'>
    <button class='btn btn-primary' id='assign_iqa_btn'>{{assign_iqa}}</button>
    <button class='btn btn-primary' id='view_iqa_btn'>{{view_iqa}}</button>
    <button class='btn btn-primary' id='change_iqa_btn'>{{change_iqa}}</button>
</div>
<div id="assign_iqa_div" style='display:none;' class='section-border mt-1 text-center'>
    <h2>{{assign_iqa}}</h2>
    <form id="assign_iqa_form">
        <div class='center-div-content'>
            <div class='mr-1'>
                <h4>{{course}}</h4>
                <select id="choose_ac" onchange="assign_iqa_change()" required></select>
            </div>
            <div class='mr-1' id="choose_al_div" style='display:none;'>
                <h4>{{learner}}</h4>
                <span id="choose_al"><span>
            </div>
            <div class='mr-1'  id="choose_aiqa_div" style='display:none;'>
                <h4>{{iqa}}</h4>
                <span id="choose_aiqa"></span>
            </div>
        </div>
        <h4 class='text-success' id="assign_success" style='display:none;'></h4>
        <h4 class='text-danger' id="assign_error" style='display:none;'></h4>
        <button class='btn btn-primary mt-1' type="submit" id="assign_iqa_submit">{{submit}}</button>
    </form>
</div>
<div id="view_iqa_div" style='display:none;' class='section-border mt-1 text-center'>
    <h2>{{view_iqa}}</h2>
    <h4 class='text-danger' id="view_error" style='display:none;'></h4>
</div>
<div id="change_iqa_div" style='display:none;' class='section-border mt-1 text-center'>
    <h2>{{change_iqa}}</h2>
</div>
<script defer src='./amd/src/admin.js'></script>